name: Build ipatool (Linux)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build for Linux
      run: |
        GOOS=linux GOARCH=amd64 go build -o ipatool

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: ipatool-linux
        path: ./ipatool
